.table-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 330px;
  text-align: center;
}

.table,
th,
td {
  padding: 18px;
}

p {
  text-align: left;
}
