.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  word-spacing: 3px;
  letter-spacing: 3px;
}

.App-link {
  color: #61dafb;
}

.container-btn {
  display: flex;
  margin-top: 10px;
}

.add-btn {
  margin-right: 50px;
}

.src-btn {
  margin-left: 50px;
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
