.input-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 25px;
}

label {
  font-size: 14px;
}

span {
  margin-left: -15px;
  color: red;
}

.input-form {
  display: flex;
  margin-bottom: 20px;
  height: 27px;
}

.label-input {
  margin-right: 20px;
}

::placeholder {
  font-size: 12px;
  color: rgb(94, 155, 164);
}

.username-input {
  width: 200px;
  border-radius: 5px;
  border: none;
  margin-left: 50px;
  background-color: transparent;
  color: white;
}

.email-input {
  margin-left: 80px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

.exp-input {
  margin-left: 47px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

.lvl-input {
  margin-left: 82px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

.button {
  display: flex;
  margin-top: 30px;
  margin-right: 5px;
  height: 35px;
}

.close-btn {
  margin-right: 20px;
  width: 150px;
  border-radius: 5px;
  border: white solid 1px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

.submit-btn {
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 158, 176);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
