.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 158, 176);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  background-color: transparent;
  color: white;
  border: rgb(27, 158, 176) solid 2px;
  box-shadow: 1px 1px 5px lightblue;
}
